.body {
  color: #000000;
  background-color: #000000;
}

/* introduction */

.header_text_1 {
  margin: 0;
  margin-top: 24px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.header_text_2 {
  margin: 0;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #6D61F2;
}

.header_text_3 {
  margin: 0;
  text-align: center;
  margin-top: 6px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}

.buttonContainer {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  justify-content: space-between;
  margin-top: 12px;
}

.cv {
  border-style: solid;
  border-color: #6D61F2;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.contact {
  background-color: #6D61F2; 
  border-radius: 12px;
  color: #6D61F2;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.line {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}

.photo_container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.photo {
  max-width: 70%;
}

.about_me {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 36px;
  text-align: justify;
  font-size: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.footer {
  margin-top: 0px;
  margin-bottom: 120px;
  text-align: center;
  font-size: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  color: #6D61F2;  
}